<div class="bannerservice" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @service.photo %>');">
</div>

  <div class="row">
    <div class="col-md-8 service-info">
      <h1><%= @service.category.name %> : <%= @service.name %></h1>
      <p>Description: <%= @service.description %></p>
      <p>Hourly rate: <%= @service.hourly_rate %>€/h</p>
      <%= link_to "book now", new_service_booking_path(@service), class:"btn btn-primary" %>
    </div>
    <div class="col-md-4 service-profile">
      <div class="user-info">
        <%= cl_image_tag @service.user.profile.photo, class: "profile-avatar" %>
        <h4><%= @service.user.profile.first_name %></h4>
        <p><%= @service.user.profile.city %></p>
      </div>
    </div>
  </div>
  <% if current_user == @service.user %>
    <%= link_to "delete service", my_services_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <%= link_to "edit service", service_path(@service), class: "btn btn-primary"%>
  <% end %>


