<div class="container-fluid">
  <div class="row pic">
    <div class="col-md-3 col-md-offset-5 text-center"> <%= cl_image_tag current_user.profile.photo, class: "profile-avatar img-circle" %>
      <h2><%= @profile.first_name %>  <%= @profile.last_name %></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row table">
    <div class="col-md-4 col-md-offset-4">
      <ul class="list-inline">
        <li class="fieldname">Address:</li>
        <li class="fieldinput"><%= @profile.address %>, <%= @profile.zip_code %> <%= @profile.city %>, <%= @profile.country %></li>
      </ul>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <ul class="list-inline">
        <li class="fieldname">Bank account:</li>
        <li class="fieldinput"><%= @profile.bank_account %></li>
    </div>
      <div class="col-md-4 col-md-offset-5">
        <%= link_to 'Edit your profile', edit_profile_path(current_user.profile), class: 'btn btn-primary' %>
      </div>
    </ul>
  </div>
</div>


