<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center"> <%= cl_image_tag @profile.photo, class: "profile-avatar img-circle" %>
      <h2><%= @profile.first_name %>  <%= @profile.last_name %></h2>
    </div>
    <div class="col-xs-12 ">
      <ul class="list-inline">
        <li class="fieldname">Address:</li>
        <li class="fieldinput"><%= @profile.address %>, <%= @profile.zip_code %> <%= @profile.city %>, <%= @profile.country %></li>
      </ul>
    </div>
    <div class="col-xs-12">
      <ul class="list-inline">
        <li class="fieldname">Bank account:</li>
        <li class="fieldinput"><%= @profile.bank_account %></li>
    </div>
    <% if current_user = @profile.user %>
    <div class="col-xs-12 text-center">
        <%= link_to 'Edit my profile', edit_profile_path(current_user.profile), class: 'btn btn-primary' %>  <%= link_to 'my services', my_services_path, class: 'btn btn-primary' %>
    </div>
    <% end %>
    </ul>
  </div>
</div>

