<div class="container tex-center">
  <div class="row">
    <h1>My bookings</h1>

    <% if @bookings.empty? %>
      <div class="col-xs-12 text-center">
        <br>
        <br>
        <br>
        <%= "You have no bookings"%>
        <br>
        <br>
        <br>
        <%= link_to 'Book a service', categories_path, class: 'btn btn-primary' %>
        <br>
        <br>
        <br>
      </div>
    <% else %>
      <% @bookings.order(:date).each do |booking| %>
        <div class="grid">
          <div class="card-service-bookings card-grid service-section img-background-size", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=cl_image_path booking.service.photo %>');">
            <div class="card-category">
              <%= booking.service.name %>
            </div>
          </div>
          <div class="card-grid booker">
            <%= cl_image_tag booking.service.user.profile.photo, class: "image-booker" %>
            <h4><%= booking.service.user.profile.first_name %> <%= booking.service.user.profile.last_name %> </h4>
          </div>
          <div class="card-grid booking-date">
            <h4>Booking Date</h4>
            <p><%= booking.date %></p>
          </div>
          <div class="card-grid booking-address">
            <h4>Booking Address</h4>
            <p><%= booking.address %></p>
            <p><%= booking.city %></p>
          </div>
          <%= link_to "See details", booking_path(booking), class: 'btn btn-see-details' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
