<div class="container">
  <div class="row">
    <h1>Book a service</h1>
    <h2>Complete the following information</h2>
    <%= simple_form_for [@service, @booking] do |f| %>
    <%= f.error_notification %>
    <%= f.input :description %>
    <%= f.input :hours %>
    <%= f.input :city %>
    <%= f.input :street %>
    <%= f.input :number %>
    <%= f.input :zip_code %>
    <%= f.submit %>
    <% end %>
    <br>
    <%= link_to "back to my bookings", bookings_path %>
  </div>
</div>

