<div class="container">
  <div class="row">
    <% if @status.last.status == "Job completed" %>
      <h1><%=  @booking.service.category.name  %> - Job Completed</h1>
    <% elsif @status.last.status == "booking canceled" %>
      <h1><%=  @booking.service.category.name  %> - Booking canceled</h1>
    <% else %>
      <h1><%=  @booking.service.category.name  %></h1>
    <% end %>

<!-- booking details -->
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>Booking details</h3>
          <li>name: <%= @booking.service.name %></li>
          <li>description: <%= @booking.description %></li>
          <% if current_user == @booking.user %>
            <li>contractor: <%= link_to @booking.service.user.profile.first_name + " " + @booking.service.user.profile.last_name, profile_path(@booking.service.user) %> </li>
          <% else %>
            <li>customer: <%= link_to @booking.user.profile.first_name + " " + @booking.user.profile.last_name, profile_path(@booking.user) %></li>
          <% end %>
          <li>hourly rate: <%= @booking.service.hourly_rate %>€/hours</li>
          <li>number of hours: <%= @booking.hours %></li>
          <li>Total price : <%= @booking.service.hourly_rate * @booking.hours  %></li>
          <li>Scheduled appointment : <%= @booking.date %> </li>
          <% if @status.last.status == "date changed" || @status.last.status == "booking request sent"  %>
            <div class="form-group">
              <%= simple_form_for @booking do |f| %>
                <%= f.label "Change date?"  %> <br>
                <%= f.datetime_select :date, start_year: Date.today.year %> <br>
                <br>
                <%= f.submit "Change date", class: 'btn btn-primary' %>
              <% end %>
              <br>
              <%= link_to "Confirm booking", booking_confirm_booking_path(@booking), class: 'btn btn-primary'  %>
            </div>
          <% end %>


          <% if @status.last.status != ("Job completed" || "booking canceled") %>
            <%= link_to "Cancel booking", booking_cancel_booking_path(@booking), class: 'btn btn-danger'  %>
            <%= link_to "Job completed", booking_close_booking_path(@booking), class: 'btn btn-primary'  %>
          <% end %>
      </div>
      <!-- status -->
      <div>
        <h3>status changes</h3>
          <ol>
            <% @status.each do |status| %>
            <li> <%= status.status %>  @ <%= status.created_at %> </li>
            <% end %>
          </ol>
      </div>
    </div>
<!-- Q & A -->
    <div class="col-xs-12 col-md-6">
      <div class="chat-window">
        <div class="chat-title">
            <h3>Chat</h3>
        </div>
        <div class="chatbox">
          <% @booking.qas.each do |message| %>
            <% if !message.user.nil? %>
              <p><%= message.message %> <br>
              written by <%= message.user.profile.first_name %> <%= message.user.profile.last_name %> on <%= message.created_at %></p>
            <% end %>
          <% end %>
        </div>
        <div class="chat-addmsg">
          <h3>Post message</h3>
          <%= simple_form_for [@booking, @qa] do |f| %>
            <%= f.input :message %>
            <%= f.submit "send", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
