<div class="container">
  <div class="row">

<h1><%=  @booking.service.category.name  %></h1>
<!-- booking details -->
<h3>contractor details</h3>
<li>name: <%= @booking.service.name %></li>
<li>hourly rate: <%= @booking.service.hourly_rate %>€/hours</li>
<li>number of hours: <%= @booking.hours %></li>
<li>Total price : <%= @booking.service.hourly_rate * @booking.hours  %></li>
  </div>
  <br>
<!-- status -->
  <div class="row">
<h3>status changes</h3>
  <ol>
    <% @status.each do |status| %>
    <li> <%= status.status %>, changed @ <%= status.created_at %> </li>
    <% end %>
  </ol>
  </div>
<!-- Q & A -->
<h3>chat</h3>

  <% @booking.qas.each do |message| %>
    <% if !message.user.nil? %>
      <p><%= message.message %> / written by <%= message.user.profile.first_name %> <%= message.user.profile.last_name %> on <%= message.created_at %></p>
    <% end %>
  <% end %>

<h3>add message</h3>
<%= simple_form_for [@booking, @qa] do |f| %>
    <%= f.input :message %>
    <%= f.submit %>
    <% end %>
</div>

