<div class="form-wrapper">
  <h1 class="newpass">Forgot your password?</h1>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "form-button" %>
        </div>
    <% end %>
  <h3 class="reglinks"><%= render "devise/shared/links", class: "passlinks" %></h3>
</div>
