<div class="background" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_url("https://images.unsplash.com/photo-1523301551780-cd17359a95d0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a762f466d084a3d105fa3fcb617dd8c&auto=format&fit=crop&w=1567&q=80") %>)";>
  <div class="form-wrapper">
    <h1 class="login">Log in</h1>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions button">
            <%= f.button :submit, "Log in", class: "form-buttonsession" %>
        </div>
      <% end %>

    <h3 class="reglinkss"><%= render "devise/shared/links" %></h3>
  </div>
</div>
